<footer class="footer">
    <section class="copyright">
        <a class='link' href="http://www.co2oc.com">北极羊驼的博客</a> © 2018 </section>
    <section class="poweredby">Powered by
        <a class='link' target="_blank" href="https://hexo.io">hexo</a>
        & Theme
        <a class='link' target="_blank" href="https://github.com/wjjwkwindy/FlameReaction">FlameReaction</a>
    </section>
</footer>